* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: oswald, helvetica, arial, sans-serif;
	background:url(awesome.jpg), #009688;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor {
	width:90%;
	max-width:1000%;
	margin:auto;
}
header .imagen { 
	width: 70px; 
	height: 70px; 
	border-radius: 70px; 
	-webkit-border-radius: 70px; 
	-moz-border-radius: 70px; 
	background: url(noun.png) no-repeat;
	float: left;
}
header {
	position: relative;
	height: auto;
}
header .menu {
	background: rgba(225,225,225,.7);
	overflow: hidden;
}
header .logo {
	color: rgba(0,0,0,.8);
	float: left;
	font-size: 30px;
	line-height: 80px;
}
header nav {
	float: right;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	float: left;
}
header nav ul li a {
	color: rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size: 18px;
	padding: 0 20px;
	line-height: 80px;
}
header nav ul li>ul li {
	color: rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size: 18px;
	padding: 0 20px;
	line-height: 80px;
}
header nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}
header li:hover > ul {
	display: block;
}
header nav li ul li {
	position: relative;
}
header nav ul li>ul li:hover {
	background: rgba(0,0,0,.8);
	border-bottom: inset 5px solid #fff;
}
header nav ul li:hover {
	background: rgba(0,0,0,.8);
	border-bottom: inset 5px solid #fff;
}
header nav ul li a:hover {
	color: #fff;
}